{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        },
        "@babel/preset-stage-3"
      ]
    ],
    "plugins": [
        
    ],
    "retainLines": true
}