{
    "parser": "babel-eslint",
    "plugins": [
      "import"
    ],
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module"
    },
    "env": {
      "node": true
    },
    "extends": [
      "eslint:recommended"
    ],
    "rules": {
        "no-console": 0,
        "no-unused-vars": 1
    }
}